arrow
discord.py
pyyaml
file-read-backwards
pymongo==2.9
pafy
youtube-dl
soundcloud
humanfriendly
lxml
ftfy
bs4
Pillow
markovify
zmq
nhentai
giphypop
imgurpython
praw
wikipedia
pytz
geopy
tzwhere
wolframalpha
translate