arrow
steam
Pillow
lxml
translate
Shosetsu
imgurpython
praw
chatterbot
pyyaml
discord==1.0.1
wikipedia
humanfriendly
python-twitch
wolframalpha
geopy
pymongo==2.9
google-api-python-client
pafy
youtube_dl
markovify
cssselect
soundcloud
ftfy
imageio
giphypop
https://pypi.doubanio.com/packages/80/b6/9476cc9b1cd7c85ea713205f7a5b0818bc028903ab353b5ae592350c27a2/nhentai.py-0.0.3.tar.gz#md5=72dd2c59a7598ce616d5ed2e99f7b7d8
pytz
tzwhere
file_read_backwards
zmq